@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Member Id: @Model.NkpMemberId</p>
    <p>Member UserName: @Model.NkpUserName</p>
    <p>Member Password: @Model.NkpPassword</p>
    <p>Member FullName: @Model.NkpFullName</p>
    <p>Member Email: @Model.NkpEmail</p>
</div>

